[submodule "Shared/personal_site"]
	path = Shared/personal_site
	url = https://github.com/CoolONEOfficial/personal_site
[submodule "Shared/plugins/DarkImagePublishPlugin"]
	path = Shared/plugins/DarkImagePublishPlugin
	url = https://github.com/insidegui/DarkImagePublishPlugin
[submodule "Shared/plugins/SplashPublishPlugin"]
	path = Shared/plugins/SplashPublishPlugin
	url = https://github.com/JohnSundell/SplashPublishPlugin
[submodule "Shared/plugins/TinySliderPlugin"]
	path = Shared/plugins/TinySliderPlugin
	url = https://github.com/CoolONEOfficial/TinySliderPlugin
[submodule "Shared/portfolio_site"]
	path = Shared/portfolio_site
	url = https://github.com/CoolONEOfficial/portfolio_site
